// Colors
$yellow: #fed90e;

$theme-colors: (
  "primary": #3884b6,
  "secondary": #f1f1f1,
);

// Fonts
@import url('https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap');

$enable-responsive-font-sizes: true;

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
}

p, 
span,
a,
b,
form {
  font-family: 'Karla', sans-serif;
}
