// Default styling for tablet and mobile
#features,
#preview,
#download {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#features {
  .features-icon {
    max-width: 70px;
    margin-bottom: 1rem;
  }
}

#preview {
  background: #75b5e1;
  background: linear-gradient(0deg, rgb(117,181,225) 0%, rgba(110, 177, 221, 1) 70%);

  h2 {
    color: $white;
  }
}

.wave-transition {
  position: relative;
  z-index: -1; // Place under CSS gradient of #preview
  margin-top: -20px;
}

#testimonials {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

#download {
  background: rgb(23,117,180);
  background: linear-gradient(0deg, rgba(23,117,180,1) 0%, rgba(59,154,218,1) 55%);
  color: $white;
  margin-top: 180px;

  .newsletter {
    margin-top: -190px;
    margin-bottom: 3rem;
  }
}

footer {
  background: rgb(23,117,180);
  color: $white;
  margin-top: -2px; // Prevent thin gap showing
}

@include media-breakpoint-up(sm) { /* 576px */
  #download {
    margin-top: 140px;

    .newsletter {
      margin-top: -130px;
    }
  }
}

// Default styling for desktop
@include media-breakpoint-up(lg) {
  #features,
  #preview {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  #features {
    h2 {
      padding-bottom: 4rem;
    }
  }

  #preview {
    background: linear-gradient(0deg, rgb(117,181,225) 0%, rgba(255,255,255,1) 90%);

    h2 {
      padding-bottom: 2.5rem;
      color: $dark;
    }
  }
  
  #testimonials {
    padding-bottom: 6rem;
    padding-top: 0;

    h2 {
      padding-bottom: 2.5rem;
    }
  }

  .wave-transition {
    transform: scaleY(0.6);
    margin-top: -60px;
  }

  #download {
    margin-top: 120px;
    padding-bottom: 4rem;

    .newsletter {
      margin-top: -105px;
    }
  }
}

@include media-breakpoint-up(xl) { 
  .wave-transition {
    margin-top: -100px;
  }
}
