// Default styling for tablet and mobile
#mainNav {
  background-color: $white;
  box-shadow: $box-shadow;

  // Navbar Icon
  .gatsby-image-wrapper {
    @extend .align-middle;
  }

  // Navigation Links {
  .navbar-nav {
    .nav-link {
      color: rgba($color: $dark, $alpha: 0.7);
      font-weight: 510;
    }

    .nav-link:focus, .nav-link:hover {
      color: rgba($color: $dark, $alpha: 1);
      outline: none;
    }
  }

  // Toggle Button
  .navbar-toggler {
    border-color: transparent;
  }

  .navbar-toggler:focus {
    outline: none;
  }
}

#hero-section {
  ::selection {
    background-color: white;
    color: rgb(38,129,190);
  }

  height: 100vh;
  transition: height 9999999s; // Avoid resizing when URL bar dissapears on mobile
  background: rgb(23,117,180);
  background: linear-gradient(0deg, rgba(59,154,218,1) 0%, rgba(23,117,180,1) 55%);
  color: $white;
  padding-top: 4rem;
  overflow: hidden;
}

// Default styling for desktop
@include media-breakpoint-up(lg) {
  #mainNav {
    background-color: transparent;
    box-shadow: none;

    // Navigation Links {
    .navbar-nav {
      .nav-link {
        color: rgba($color: $white, $alpha: 1);
        font-weight: 510;
      }

      .nav-link:focus, .nav-link:hover {
        color: rgba($color: $yellow, $alpha: 1);
      }
    }
  }

  #hero-section {
    padding-top: 0;
  }
}

// Navbar styling when scrolling
@include media-breakpoint-up(lg) {
  #mainNav.navbar-scrolled {
    transition: 0.5s;

    background-color: $white;
    box-shadow: $box-shadow;

    // Navigation Links {
    .navbar-nav {
      .nav-link {
        color: rgba($color: $dark, $alpha: 0.7);
        font-weight: 510;
      }
      
      .nav-link:focus, .nav-link:hover {
        color: rgba($color: $dark, $alpha: 1);
      }
    }
  }
}
