/* 

Conflict between mobile first and desktop first CSS styling
Original code was created with a desktop first approach

*/

.button {
  display: inline-block;
  background: #0e8ce4;
  border-radius: 5px;
  height: 48px;
  transition: all 200ms ease;
}

.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
}

.button:hover {
  opacity: 0.8;
}

.newsletter {
  background: #fafafa;
  margin-right: 20px !important;
  margin-left: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.bbb_newsletter_container {
  width: 100%;
}

.bbb_newsletter_title_container {
  width: 40%;
  padding-left: 95px;
}

.bbb_newsletter_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.bbb_newsletter_title {
  font-size: 18px;
  color: #000000;
}

.bbb_newsletter_text p:last-child {
  margin-bottom: 0;
}

.bbb_newsletter_icon img {
  max-width: 100%;
}

.bbb_newsletter_content {
  width: 60%;
}

.bbb_newsletter_form {
  position: relative;
  width: 569px;
  float: left;
}

.bbb_newsletter_input {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  padding-left: 25px;
  font-size: 16px;
  outline: none;
}

.bbb_newsletter_input:focus {
  border: solid 1px rgba(14, 140, 228, 0.3);
  box-shadow: 0px 1px 5px rgba(14, 140, 228, 0.3);
}

.bbb_newsletter_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 153px;
  height: 50px;
  background: #0e8ce4;
  color: #ffffff;
  line-height: 50px;
  font-size: 18px;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.bbb_newsletter_button:hover {
  opacity: 0.8;
}

.bbb_newsletter_unsubscribe_link {
  float: right;
  text-align: right;
  height: 50px;
}

.bbb_newsletter_unsubscribe_link a {
  font-size: 10px;
  color: #0e8ce4;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 50px;
}

.bbb_newsletter_unsubscribe_link a:hover {
  color: #0d82d3;
}

@media only screen and (max-width: 1199px) {
  .bbb_newsletter_form {
    width: 456px;
  }
}

@media only screen and (max-width: 991px) {
  .bbb_newsletter_title_container {
    width: 100%;
  }

  .bbb_newsletter_content {
    width: 100%;
    margin-top: 10px;
  }

  .bbb_newsletter_form {
    width: calc(100% - 114px);
  }

  .footer_col:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 575px) {
  .bbb_newsletter_form {
    float: none;
    width: 100%;
  }

  .bbb_newsletter_title_container {
    padding-left: 0px;
    text-align: center;
  }

  .bbb_newsletter_unsubscribe_link {
    float: none;
    text-align: center;
    margin-top: 10px;
    height: auto;
  }

  .bbb_newsletter_unsubscribe_link a {
    line-height: 1;
  }

  .bbb_newsletter_title {
    font-size: 16px;
  }

  .bbb_newsletter_icon {
    position: relative;
    width: 40px;
    top: auto;
    transform: translate(-50%, 0px);
    left: 50%;
    margin-bottom: 20px;
  }

  .bbb_newsletter_button {
    position: relative;
    top: auto;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 113px;
    height: 40px;
    background: #0e8ce4;
    color: #ffffff;
    line-height: 40px;
    font-size: 14px;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }

  .bbb_newsletter_input {
    font-size: 13px;
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
  }
}

@include media-breakpoint-up(sm) {
  .bbb_newsletter_icon {
    transform: translateY(0%);
    top: -4%;
    left: 3.5%;
    transform: scale(0.8);
  }

  .bbb_newsletter_title_container {
    padding-left: 75px;
    padding-right: 45px;
  }

  .bbb_newsletter_button {
    right: 0;
  }

  .bbb_newsletter_form {
    width: calc(100%);
  }
  
  .bbb_newsletter_content {
    margin-top: 20px;
  }
}

@include media-breakpoint-up(md) {
  .bbb_newsletter_title_container {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .bbb_newsletter_icon {
    top: -17%;
    left: 13%;
    transform: scale(0.7);
  }
}

@include media-breakpoint-up(lg) {
  .bbb_newsletter_icon {
    top: -6%;
    left: 15px;
    transform: scale(0.8);
  }

  .bbb_newsletter_button {
    right: 0px;
  }

  .bbb_newsletter_title_container {
    padding-left: 75px;
    text-align: left;
  }

  .bbb_newsletter_content {
    margin-top: 0;
  }
}
