// Default styling for tablet and mobile
.carousel {
	margin: 0 auto;

	.slide {
		min-height: 440px;
	}

	.item {
		color: #999;
		overflow: hidden;
		min-height: 120px;
		font-size: 13px;
	}

	.media {
		position: relative;
		padding: 0 0 0 20px;
	}

	.media img {
		width: 75px;
		height: 75px;
		display: block;
		border-radius: 50%;
	}

	.testimonial-wrapper {
		padding: 0 10px;
		margin-bottom: 2rem;
	}

	.testimonial {
    color: $dark;
    position: relative;
    padding: 15px;
    background: #f1f1f1;
    border: 1px solid #efefef;
    border-radius: 3px;
		margin-bottom: 15px;
	}

	.testimonial::after {
		content: "";
		width: 15px;
		height: 15px;
		display: block;
		background: #f1f1f1;
		border: 1px solid #efefef;
		border-width: 0 0 1px 1px;
		position: absolute;
		bottom: -8px;
		left: 46px;
		transform: rotateZ(-46deg);
	}

	.star-rating li {
		padding: 0 2px;
	}

	svg {
		font-size: 16px;
		color: #ffdc12;
	}

	.overview {
		padding: 3px 0 0 15px;

		.details {
			padding: 5px 0 8px;
		}

		b {
			text-transform: uppercase;
			color: #1775b4;
		}
	}

	.carousel-indicators {
		bottom: -45px;

		li, 
		li.active {
			width: 18px;
			height: 18px;
			border-radius: 50%;
			margin: 1px 2px;
		}

		li {	
			background: #e2e2e2;
			border: 4px solid #fff;
		}

		li.active {
			color: $white;
				background: #1775b4;
				border: 5px double;    
		}
	}
}

@include media-breakpoint-up(sm) { /* 576px */ 
	.carousel {
		.slide {
			min-height: 390px;
		}
	}
}

@media only screen and (min-width: 765px) {
  .carousel {
		.slide {
			min-height: 290px;
		}
	}
}

// Default styling for desktop
@include media-breakpoint-up(lg) { /* 992px */  
  .carousel {
		padding: 0 70px;
		
		.slide {
			min-height: 260px;
		}
	
		.testimonial-wrapper {
			margin-bottom: 0;
		}
	
		.carousel-indicators {
			bottom: -60px;
		}
	}
}
